﻿@model ABM.Models.Client



<br />

<form action="ClientEdit" method="post" onsubmit="">
    <p> Cliente a editar:  </p>

    <div class="form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nombre Cliente a editar</span>
        </div>

        <input type="text" class="form-control" id="Name" name="Name" value='@Model.Name' required>



    </div>

   
        <input type="hidden" class="form-control" id="ID" name="ID" value=@Model.ID>
    

    <br />

    <button type="submit" class="btn btn-primary" id="ClientEdit" name="ClientEdit">Editar Cliente</button>
    <br />
    <br />
    <a class="btn btn-primary" href="/Bill/Clients" role="button">Regresar</a>

</form>
