﻿@model List<ABM.Models.Client>
@{ int idtable = 0;}
<head>


</head>
<br />
<body>

    <a class="btn btn-primary" href="/Bill/NewClient" role="button">Agregar Nuevo Cliente</a>
    <a class="btn btn-primary" href="/Bill/Search" role="button">Buscar Cliente</a>
    <br /> <br />
           <div class="collection">
               <table class="table-bordered" border="1" border-collapse: separate;>
                   <thead>
                       <tr>
                           <th width="50" bgcolor="#33FF00"> # </th>
                           @*<th scope="col" bgcolor="#33FF00">Fecha</th>*@
                           <th scope="col" bgcolor="#33FF00">Nombre</th>


                       </tr>

                   </thead>

                   @foreach (var item in Model)
                   {

                       idtable++;
                       <tr>
                           <td width="50"> @idtable </td>
                           @*<td scope="col">@item.Date.ToString()</td>*@
                           <td scope="col">@item.Name</td>


                         
                           <td scope="col"><a class="btn btn-primary" href="/Bill/ClientEdit?ID=@item.ID" role="button">Editar</a></td>
                           <td scope="col"><a class="btn btn-primary" href="/Bill/ClientDelete?ID=@item.ID" role="button">Eliminar</a></td>
                       </tr>

                   }
               </table>

       
           </div>




</body>

