﻿@model List<ABM.Models.Product>
@{ int ClientID = Convert.ToInt32( ViewData["ClientID"]);
    var ClientName = ViewData["ClientName"];
    
    }
<head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>


</head>
<body>

    <h4>Generacion de Factura al Cliente: @ViewData["ClientName"]</h4>

    <form action="BillInProcess" method="post" name="form1">


        <div class="row">
            <div class=col-xs-2>
                Cantidad
                <input type="text" class="form-control" oninput="total()" onchange="total()" id="Amount" name="Amount" value="1" maxlength="9" onblur="OnlyNumbers(this)" onpaste="requestAnimationFrame( () => OnlyNumber(this) )" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Cantidad">
            </div>

            <div class="col-xs-2">
                Precio por unidad $
                <input type="text" class="form-control" oninput="total()" onchange="total()" id="Price" name="Price" placeholder="Precio" value="0">
            </div>
            <div class="col-xs-2">
                Producto
                <select name="Product" id="Product">
                    <option value="" disabled selected>Product</option>
                    @foreach (var item in Model)
                    {

                        <option value="@item.Name">@item.Name</option>


                    }

                </select>


            </div>
            <div class="col-xs-2">
                Total $
                <input type="text" data-bind="total" class="form-control" id="Total" name="Total" placeholder="Total $" readonly>
            </div>

            <button type="reset" onclick="addProduct(event)" class="btn btn-primary" id="CreateBill" name="CreateBill">Añadir Item factura</button>


        </div>

        <br />
        <table>
            <thead>
                <tr>
                    <th>Cantidad</th>
                    <th>Precio por unidad ARS $</th>
                    <th>Producto</th>
                    <th>Total por articulo agregado</th>
                </tr>
            </thead>

            <tbody>
                <tr></tr>

            </tbody>
        </table>
        <br />
        <input type="hidden" name="ID" id="ID" value=@ClientID />
        <input type="hidden" name="Client.Name" id="Client.Name" value=@ClientName />
        <input type="hidden" name="Client.ID" id="Client.ID" value=@ClientID />
        <input type="hidden" name="Date" id="Date" value=@DateTime.Now />
        <button type="submit" class="btn btn-primary" id="CreateBill" name="CreateBill">Generar Factura</button>
        <br />
        <br />
        <br />
        <a class="btn btn-primary" href="/Bill/Index" role="button">Regresar</a>
    </form>




    <script>
        function total() {
            var Total2 = document.form1.Amount.value * document.form1.Price.value;

            document.form1.Total.value = Total2;
        }

        function savedata() {
            var totaladded = 0;
            totaladded++;

        }
    </script>

    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script>
        var select = document.getElementById('Product');
        select.addEventListener('change',
            function ProductSelec () {
                var selectedOption = this.options[select.selectedIndex];
                var Product = selectedOption.value;
                return Product;
            });
        
        function addProduct(e) {
            
            e.preventDefault();
            const row = createRow({
                Amount: $('#Amount').val(),
                Price: $('#Price').val(),
                Product: $('#Product').val() ,
                Total: $('#Total').val()
            });
            $('table tbody').append(row);
            clean();
        }
        var rowcount = -1;
        var newid = 1;
        function createRow(data) {

            rowcount++;
            newid++;
            var Total = document.form1.Amount.value * document.form1.Price.value;
           
            return (

                `<tr id=newid>` +
                `<td><input type="hidden" name="BillDetail[${rowcount}].Product.ID" value="${newid}"></td >` +
                `<td><input type="hidden" name="BillDetail[${rowcount}].ID" value="${newid}"></td >` +
                `<td><input type="hidden" name="BillDetail[${rowcount}].Total" value="${Total}"></td >` +
                `<td><input type="hidden" name="BillDetail[${rowcount}].Amount"  value="${data.Amount}">${data.Amount}</td>` +
                `<td><input type="hidden" name="BillDetail[${rowcount}].Price"  value="${data.Price}">${data.Price}</td>` +
                `<td><input type="hidden" name="BillDetail[${rowcount}].Product.Name" value="${data.Product}">${data.Product}</td>` +
                `<td><input type="hidden" name="BillDetail[${rowcount}].Price"  value="${data.Total}">${data.Total}</td>` +
                `<td><td scope="col"><a class="btn btn-primary"  onclick="eliminarFila(newid);" role="button">Eliminar</a></td></td>` +
                `</tr>`
                
            );
        }
        function eliminarFila(index) {
           // $#index.remove();
        }
        function clean() {
            $('#Amount').val('');
            $('#Price').val('');
            $('#Amount').focus();
        }



    </script>
    
</body>