﻿@model List<ABM.Models.Bill>
@{ int idtable = 0;}
<body>
    
    <a class="btn btn-primary" href="/Bill/NewBill" role="button">Agregar Nueva Factura</a>
    <a class="btn btn-primary" href="/Bill/Search" role="button">Buscar Factura</a>
    <table class="table-bordered" border="1" border-collapse: separate;>
        <thead>
            <tr>
                <th width="50" bgcolor="#33FF00"> # </th>
                <th scope="col" bgcolor="#33FF00">Fecha</th>
                <th scope="col" bgcolor="#33FF00">Factura al Cliente</th>
                <th scope="col" bgcolor="#33FF00">Detalles Factura</th>

                @*<th scope="col" bgcolor ="#33FF00">Ver Detalles</th>*@
            </tr>

        </thead>


         
        
            @foreach (var item in Model)
            {
                <tr>
                <td width="50">  </td>
                <td scope="col">@item.Date.ToString()</td>
                <td scope="col">@item.Client.Name</td>
                <td scope="col"><a class="btn btn-primary" href="/Bill/BillDetails?ID=S@item.ID" role="button">Ver Detalles</a></td>
                <td scope="col"></td>
          
                </tr>
            }




        
    </table>


</body>

