﻿@model List<ABM.Models.Client>
@{ int idtable = 0;}

<head>
    <style type='text/css'>

        tr:nth-child(odd) {
            background-color: #999999;
        }

        tr:nth-child(even) {
            background-color: #CCCCCC;
        }
    </style>
</head>
<body>
    <h4>Seleccione un cliente para Facturar:</h4>

    <a class="btn btn-primary" href="/Bill/NewClient" role="button">Agregar Nuevo Cliente</a>
    <a class="btn btn-primary" href="/Bill/Search" role="button">Buscar Cliente</a>
    <br /> <br />
           
               <table  class="table-bordered" border="1" border-collapse: separate;>
                   <thead>
                       <tr>
                           <th width="50" bgcolor="#33FF00"> # </th>

                           <th scope="col" bgcolor="#33FF00">Nombre</th>

                       </tr>

                   </thead>


                   @foreach (var item in Model)
                   {

                       idtable++;
                       <tr>
                           <td width="50"> @idtable </td>
                           <td width="auto"  scope="col">@item.Name</td>
                           <td width="100" scope="col"><a class="btn btn-primary" href="/Bill/CreateBill?ID=@item.ID" role="button">Seleccionar</a></td>

                       </tr>


                   }


               </table>
           


         


</body>