﻿@model ABM.Models.Client
<br />
<br />
<br />
<form action="NewClient" method="post">
    <div class="form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nombre Cliente</span>
        </div>
        <input type="text" class="form-control" id="NewClient" name="NewClient" placeholder="Name" required>

    </div>


    <br />
    <br />
    <button type="submit" class="btn btn-primary" id="NewClient" name="NewClient">Agregar Nuevo Cliente</button>
    <br />
    <br />
    <br />
    <a class="btn btn-primary" href="/Bill/Clients" role="button">Regresar</a>
</form>
<br />
<br />
<br />
<br />

