﻿@model ABM.Models.Product
<br />
<br />
<br />
<form action="NewProduct" method="post">
    <div class="form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nombre Producto</span>
        </div>
        <input type="text" class="form-control" id="NewProduct" name="NewProduct" placeholder="Product Name" required>

    </div>


    <br />
    <br />
    <button type="submit" class="btn btn-primary" id="NewProduct" name="NewProduct">Agregar Nuevo Producto</button>
    <br />
    <br />
    <br />
    <a class="btn btn-primary" href="/Bill/Products" role="button">Regresar</a>
</form>
<br />
<br />
<br />
<br />
