﻿@model List<ABM.Models.Product>
@{ int idtable = 0;}
<head>


</head>
<br />
<body>

    <a class="btn btn-primary" href="/Bill/NewProduct" role="button">Agregar Nuevo Producto</a>
    <a class="btn btn-primary" href="/Bill/Search" role="button">Buscar Producto</a>
    <br /> <br />
    <div class="collection">
        <table class="table-bordered" border="1" border-collapse: separate;>
            <thead>
                <tr>
                    <th width="50" bgcolor="#33FF00"> # </th>
                    @*<th scope="col" bgcolor="#33FF00">Fecha</th>*@
                    <th scope="col" bgcolor="#33FF00">Nombre Producto</th>


                </tr>

            </thead>

            @foreach (var item in Model)
            {

                idtable++;
                <tr>
                    <td width="50"> @idtable </td>
                    @*<td scope="col">@item.Date.ToString()</td>*@
                    <td scope="col">@item.Name</td>


                    <td scope="col"><a class="btn btn-primary" href="/Bill/ProductDetail?@item.ID" role="button">Ver Detalles</a></td>
                    <td scope="col"><a class="btn btn-primary" href="/Bill/ProductEdit?ID=@item.ID" role="button">Editar</a></td>
                    <td scope="col"><a class="btn btn-primary" href="/Bill/ProductDelete?ID=@item.ID" role="button">Eliminar</a></td>
                </tr>

            }
        </table>


    </div>




</body>
