﻿@model ABM.Models.Product



<br />

<form action="ProductEdit" method="post" onsubmit="">
    <p> Cliente a editar:  </p>

    <div class="form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nombre Producto a editar</span>
        </div>

        <input type="text" class="form-control" id="Name" name="Name" value='@Model.Name' required>



    </div>


    <input type="hidden" class="form-control" id="ID" name="ID" value=@Model.ID>


    <br />

    <button type="submit" class="btn btn-primary" id="ProductEdit" name="ProductEdit">Editar Producto</button>
    <br />
    <br />
    <a class="btn btn-primary" href="/Bill/Products" role="button">Regresar</a>

</form>